/* Github framework */
body {
  margin-top: 1.0em;
  font-family: Helvetica, Arial, FreeSans, san-serif;
}
#container {
  margin: 0 auto;
  width: 700px;
}
h1 { font-size: 3.8em; color: #339966; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #339966; }
h3 { margin: 2ex 0 0; font-size: 1.2em; color: #339966; }
a { color: #339966; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { background: #f0f0f0; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }

#forkme { position: absolute; top: 0; right: 0; background: url(fork.png) no-repeat top right; width: 200px; height: 200px; text-indent: -9999px; }

/* PHILOSOPHY TABLE */
.philosophy th { vertical-align: top; padding: 1em 1ex; }
.philosophy td { padding: 1em 0; margin-bottom: 1em; border-bottom: 0px; }

/* DEMO WIDGET */
.demo .background { background-color: #ffffe8; width: 30ex; float: right; margin-left: 2ex; padding: 1ex 2ex 2ex; }
.demo .container { border: 2px solid red; padding: 2ex; color: red; }
.demo .button { border: 2px solid green; padding: 5px 10px; margin-right: 20px; background: #ffffe8;  color: green; font-size: 1.6ex; }
.demo .display { border: 2px dotted blue; padding: 5px 10px; color: blue; font-size: 1.6ex; }

.click_counter_demo_2 .container { padding: 1ex; }
.click_counter_demo_2 .button { margin: 0; }
.click_counter_demo_2 .button_legend { color: green; font-size: 1.7ex; padding: 4px;}
.click_counter_demo_2 .display_legend { color: blue; font-size: 1.7ex; padding: 4px;}

/* CODE SAMPLE TABLE */
.code_sample div { background: #f0f0f0; color: black; padding: 0 2ex; font-family: monospace; white-space:pre }
.code_sample .red { color: red; }
.code_sample .green { color: green; }
.code_sample .blue { color: blue; }
.hoverable:hover { background: #e0e0e0 }
#tooltip { position: absolute; z-index: 3000;	border: 1px solid #111; background-color: #eee; padding: 5px;	opacity: 0.85; }
#tooltip h3, #tooltip div { margin: 0; }
